/* 修改右键弹窗简介宽度 */
#arena .player.Qselectable {
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 0 0 2px,
		rgb(16, 33, 217) 0 0 10px 5px,
		rgb(16, 33, 217) 0 0 20px 10px !important;
	z-index: 99;
}

#arena .player.Qselectable:not(.selectable):not(.selected).glow_phase {
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 0 0 2px,
		rgb(16, 33, 217) 0 0 10px 5px,
		rgb(16, 33, 217) 0 0 20px 10px !important;
	z-index: 99;
}

#arena:not(.chess) .player[data-position="0"].Qselectable:not(.selected):not(.selectedx):not(.selectable):not(.glow) {
	box-shadow:
		rgba(0, 0, 0, 0.3) 0 0 0 2px,
		rgb(16, 33, 217) 0 0 10px 5px,
		rgb(16, 33, 217) 0 0 20px 10px !important;
	z-index: 99;
}

#divQ {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	gap: 10px;
	padding: 20px;
	z-index: 99;
	right: 60px;
	left: 60px;
	top: 60px;
	bottom: 60px;
	overflow-y: auto;
	background-image: url('../温柔一刀/image/李白4.jpg');
}

.divQ {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;
	padding: 20px;
	z-index: 99;
	right: 30%;
	left: 30%;
	top: 30%;
	bottom: 30%;
	overflow-y: auto;
	background-image: url('../温柔一刀/image/李白4.jpg');
}

.buttonQ {
	width: 5%;
	height: 10%;
	background-image: url('../温柔一刀/image/Q.jpg');
	background-size: cover;
	background-position: center;
	z-index: 99;
	top: 60%;
	cursor: pointer;
}

.inputQ {
	height: 80%;
	width: 90%;
}

.packQ {
	text-align: center;
	width: 150px;
	height: 25px;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	line-height: 25px;
	position: relative;
	background-color: rgb(5, 89, 52);
}

.characterQ {
	background-size: cover;
	background-position: center;
	text-align: center;
	width: 150px;
	height: 150px;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	line-height: 25px;
	position: relative;
}

.backQ {
	z-index: 9999;
	position: absolute;
	top: 10px;
	right: 10px;
	color: red;
	font-size: 25px;
	padding: 5px 10px;
	background: rgba(0, 0, 0, 0.3);
}

.configQ.on {
	text-align: center;
	width: 150px;
	height: 25px;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	line-height: 25px;
	position: relative;
	background-color: rgba(47, 101, 150, 1);
}

.configQ:not(.on) {
	text-align: center;
	width: 150px;
	height: 25px;
	display: block;
	overflow: hidden;
	border-radius: 2px;
	line-height: 25px;
	position: relative;
	background-color: rgb(220, 17, 17);
}


.configQ.on>.toggleQ {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 90%;
	background: white;
	border: 1px solid white;
	box-shadow: black 0 0 2px;
}

.configQ:not(.on)>.toggleQ {
	width: 25px;
	height: 25px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: -5%;
	background: white;
	border: 1px solid white;
	box-shadow: black 0 0 2px;
}

/* 修改右键弹窗简介宽度 */
#window>.dialog.popped {
	width: 600px;
}

/* 限定技动画从右往左切图 */
.movimage {
	top: 40%;
	width: 100%;
	height: 50%;
	overflow: hidden;
	z-index: 99;
}

/* 限定技动画从右往左切图 */
.movimage img {
	animation: movimage 2s linear infinite;
	z-index: 99;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	margin: auto;
}

/* 限定技动画从右往左切图 */
@keyframes movimage {
	0% {
		transform: translateX(100%);
	}

	25% {
		transform: translateX(0);
	}

	75% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

/* 菜单动画渐变效果 */
.Qmenu {
	animation: QQQ 5s linear 0s infinite;
	font-family: shousha;
	font-weight: bold;
	font-size: 20px;
}

/* 作者名动画渐变效果 */
.Qframe {
	animation: change 1s linear 0s infinite;
	font-family: shousha;
	font-weight: bold;
	font-size: 60px;
}

/* 作者名动画渐变效果 */
@keyframes change {
	0% {
		color: #FF0000;
	}

	10% {
		color: #FF7F00;
	}

	20% {
		color: #FFFF00;
	}

	30% {
		color: #00FF00;
	}

	40% {
		color: #00FFFF;
	}

	50% {
		color: #0000FF;
	}

	60% {
		color: #8B00FF;
	}

	70% {
		color: #0000FF;
	}

	75% {
		color: #00FFFF;
	}

	80% {
		color: #00FF00;
	}

	85% {
		color: #FFFF00;
	}

	90% {
		color: #FF7F00;
	}

	100% {
		color: #FF0000;
	}
}


/* 挑战模式BOSS滚动条 */
#bosslist {
	width: 100%;
	height: 350px !important;
	text-align: center;
	top: 60px;
	z-index: 1;
	overflow-x: scroll;
	overflow-y: hidden;
}

/* 极想武将包字体 */
.sort_jx {
	margin: 0 auto;
	padding: 0;
	text-align: center;
	text-shadow: 1.5px 1.5px 1px #89feff;
	color: #89feff;
	background: -webkit-linear-gradient(left, #ffd1a3, #d1ffa3, #9effce, #9effff, #ffc1ff);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	animation-name: colorGo2;
	animation-duration: 6s;
	animation-iteration-count: infinite;
	-webkit-animation-name: colorGo2;
	-webkit-animation-duration: 6s;
	-webkit-animation-iteration-count: infinite;
}